/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, ../../sass/vendor/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../../sass/vendor/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 50, ../../sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 71, ../../sass/vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, ../../sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 98, ../../sass/vendor/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, ../../sass/vendor/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 119, ../../sass/vendor/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 131, ../../sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 139, ../../sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 154, ../../sass/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 163, ../../sass/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 199, ../../sass/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 238, ../../sass/vendor/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 246, ../../sass/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 254, ../../sass/vendor/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 258, ../../sass/vendor/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 313, ../../sass/vendor/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 324, ../../sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 335, ../../sass/vendor/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 343, ../../sass/vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 353, ../../sass/vendor/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 362, ../../sass/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 389, ../../sass/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, ../../sass/vendor/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 418, ../../sass/vendor/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../../sass/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 448, ../../sass/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 457, ../../sass/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, ../../sass/vendor/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 478, ../../sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 494, ../../sass/vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
/* line 505, ../../sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 518, ../../sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 527, ../../sass/vendor/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 540, ../../sass/vendor/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 553, ../../sass/vendor/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 562, ../../sass/vendor/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 573, ../../sass/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 578, ../../sass/vendor/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 7, ../../sass/modules/_typography.sass */
h1 {
  margin-top: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 46px;
  font-size: 4.6rem;
  text-align: center;
}

/* line 13, ../../sass/modules/_typography.sass */
h2 {
  margin-top: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
}

/* line 19, ../../sass/modules/_typography.sass */
h3 {
  margin-top: 0;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 24, ../../sass/modules/_typography.sass */
p {
  margin-top: 0;
  margin-bottom: 2em;
  line-height: 24px;
}

/* line 1, ../../sass/partials/_general.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../sass/partials/_general.sass */
html {
  font-size: 62.5%;
}

/* line 7, ../../sass/partials/_general.sass */
body {
  background-color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #1a1a1a;
}

/* line 13, ../../sass/partials/_general.sass */
a {
  color: #F44336;
  text-decoration: underline;
}

/* line 17, ../../sass/partials/_general.sass */
header {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 0;
  background-color: #fff;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../../sass/partials/_general.sass */
header .back-arrow {
  width: 6.38298%;
  float: left;
  margin-right: 2.12766%;
  text-align: 0;
  font-size: 46px;
  font-size: 4.6rem;
  text-decoration: none;
  color: #F44336;
}
/* line 29, ../../sass/partials/_general.sass */
header h1 {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  margin-left: 17.02128%;
  margin-bottom: 0;
}

/* line 35, ../../sass/partials/_general.sass */
pre[class*="language-"] {
  margin: 0;
  margin-bottom: 2em;
}

/* line 1, ../../sass/partials/_frontpage.sass */
.list {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.list:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 5, ../../sass/partials/_frontpage.sass */
.list .item {
  width: 31.91489%;
  float: left;
  margin-right: 2.12766%;
  margin-bottom: 2.12766%;
  list-style: none;
}
/* line 10, ../../sass/partials/_frontpage.sass */
.list .item:nth-child(3n) {
  float: right;
  margin-right: 0;
}
/* line 13, ../../sass/partials/_frontpage.sass */
.list .item a {
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  text-decoration: none;
}
/* line 18, ../../sass/partials/_frontpage.sass */
.list .item a:hover .flipper {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 21, ../../sass/partials/_frontpage.sass */
.list .item .content {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin-bottom: 1rem;
}
/* line 25, ../../sass/partials/_frontpage.sass */
.list .item .flipper {
  -moz-transition: 600ms;
  -o-transition: 600ms;
  -webkit-transition: 600ms;
  transition: 600ms;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  padding-top: 70%;
}
/* line 33, ../../sass/partials/_frontpage.sass */
.list .item .front, .list .item .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -moz-transition: all 600ms ease 0s;
  -o-transition: all 600ms ease 0s;
  -webkit-transition: all 600ms ease;
  -webkit-transition-delay: 0s;
  transition: all 600ms ease 0s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 45, ../../sass/partials/_frontpage.sass */
.list .item .front img, .list .item .back img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 53, ../../sass/partials/_frontpage.sass */
.list .item .front {
  z-index: 2;
}
/* line 56, ../../sass/partials/_frontpage.sass */
.list .item .back {
  padding: 2rem;
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: #F44336;
  color: #fff;
}
/* line 65, ../../sass/partials/_frontpage.sass */
.list .item a:hover.border-radius {
  color: #3F51B5;
}
/* line 67, ../../sass/partials/_frontpage.sass */
.list .item a:hover.box-shadow {
  color: #4CAF50;
}
/* line 69, ../../sass/partials/_frontpage.sass */
.list .item a:hover.parallax {
  color: #2196F3;
}
/* line 71, ../../sass/partials/_frontpage.sass */
.list .item a:hover.tooltip {
  color: #FFC107;
}
/* line 74, ../../sass/partials/_frontpage.sass */
.list .item a.border-radius .back {
  background: #3F51B5;
}
/* line 77, ../../sass/partials/_frontpage.sass */
.list .item a.box-shadow .back {
  background: #4CAF50;
}
/* line 80, ../../sass/partials/_frontpage.sass */
.list .item a.parallax .back {
  background: #2196F3;
}
/* line 83, ../../sass/partials/_frontpage.sass */
.list .item a.tooltip .back {
  background: #FFC107;
}
/* line 86, ../../sass/partials/_frontpage.sass */
.list .item h2 {
  text-align: center;
}

/* line 2, ../../sass/partials/_article.sass */
.article-header h1 {
  margin-left: 8.51064%;
}

/* line 5, ../../sass/partials/_article.sass */
.article-content {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.article-content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../../sass/partials/_article.sass */
.article-content .demo {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
/* line 11, ../../sass/partials/_article.sass */
.article-content .description {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  margin-left: 17.02128%;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  color: #999;
  text-align: center;
}

/* line 1, ../../sass/partials/_off-canvas-layer.sass */
html, body,
.container,
.content-wrap {
  overflow-y: auto;
}

/* line 6, ../../sass/partials/_off-canvas-layer.sass */
.menu-wrap {
  width: 100%;
  max-width: 400px;
  overflow-y: auto;
  background-color: #fff;
  -moz-box-shadow: -4px 0px 25px -1px #000;
  -webkit-box-shadow: -4px 0px 25px -1px #000;
  box-shadow: -4px 0px 25px -1px #000;
  font-size: 16px;
  font-size: 1.6rem;
  -moz-transform: translate3d(-420px, 0, 0);
  -ms-transform: translate3d(-420px, 0, 0);
  -webkit-transform: translate3d(-420px, 0, 0);
  transform: translate3d(-420px, 0, 0);
}
/* line 14, ../../sass/partials/_off-canvas-layer.sass */
.menu-wrap a {
  display: block;
  margin-bottom: 6px;
  color: #F44336;
}

/* line 19, ../../sass/partials/_off-canvas-layer.sass */
.info-layer-open {
  position: absolute;
  top: 50%;
  display: inline-flex;
  padding: 8px;
  padding-left: 20px;
  border: 2px solid #F44336;
  border-left: 0;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 12px -3px #000;
  -webkit-box-shadow: 0px 0px 12px -3px #000;
  box-shadow: 0px 0px 12px -3px #000;
  cursor: pointer;
  transform: translateX(-12px);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 36, ../../sass/partials/_off-canvas-layer.sass */
.info-layer-open svg {
  fill: #F44336;
}
/* line 38, ../../sass/partials/_off-canvas-layer.sass */
.info-layer-open:hover {
  transform: translateX(0);
  background-color: #F44336;
}
/* line 41, ../../sass/partials/_off-canvas-layer.sass */
.info-layer-open:hover svg {
  fill: white;
}

/* line 45, ../../sass/partials/_off-canvas-layer.sass */
.browsers {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}
/* line 51, ../../sass/partials/_off-canvas-layer.sass */
.browsers li {
  width: 100%;
  float: left;
  margin-bottom: 16px;
  list-style: none;
}
/* line 56, ../../sass/partials/_off-canvas-layer.sass */
.browsers img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
/* line 61, ../../sass/partials/_off-canvas-layer.sass */
.browsers p {
  margin-bottom: 0;
  line-height: 40px;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 2, ../../sass/articles/_border-radius.sass */
.border-radius-static-demo .box {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  padding-top: 23.4%;
  background-color: #3F51B5;
}
/* line 6, ../../sass/articles/_border-radius.sass */
.border-radius-static-demo .without-radius {
  margin-left: 25.53191%;
}
/* line 8, ../../sass/articles/_border-radius.sass */
.border-radius-static-demo .with-radius {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 12, ../../sass/articles/_border-radius.sass */
.border-radius-dynamic-demo .box {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  margin-left: 25.53191%;
  padding-top: 23.4%;
  background-color: #3F51B5;
}
/* line 17, ../../sass/articles/_border-radius.sass */
.border-radius-dynamic-demo .sliders {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  margin-left: 17.02128%;
}
/* line 20, ../../sass/articles/_border-radius.sass */
.border-radius-dynamic-demo .sliders .item {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}
/* line 23, ../../sass/articles/_border-radius.sass */
.border-radius-dynamic-demo .sliders label {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 28, ../../sass/articles/_border-radius.sass */
.border-radius-dynamic-demo .sliders input {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 2, ../../sass/articles/_box-shadow.sass */
.box-shadow-dynamic-demo .box {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  margin-left: 25.53191%;
  padding-top: 23.4%;
  background-color: #4CAF50;
}
/* line 7, ../../sass/articles/_box-shadow.sass */
.box-shadow-dynamic-demo .sliders {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
  margin-left: 17.02128%;
}
/* line 10, ../../sass/articles/_box-shadow.sass */
.box-shadow-dynamic-demo .sliders .item {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
}
/* line 13, ../../sass/articles/_box-shadow.sass */
.box-shadow-dynamic-demo .sliders label {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
}
/* line 18, ../../sass/articles/_box-shadow.sass */
.box-shadow-dynamic-demo .sliders input {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 3, ../../sass/articles/_parallax.sass */
body.parallax-page .info-layer-open {
  z-index: 1;
  background: #fff;
}
/* line 7, ../../sass/articles/_parallax.sass */
body.parallax-page header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  margin-top: 0;
  padding-top: 3em;
  background: #fff;
  -moz-box-shadow: 0 2px 40px 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 2px 40px 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 40px 6px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/* line 19, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content {
  max-width: none;
  padding-top: 10rem;
}
/* line 23, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content article {
  height: 100%;
}
/* line 26, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content .story {
  height: 600px;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
/* line 36, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content .story.middle {
  height: 300px;
  background: #2196F3;
}
/* line 40, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content .story .text {
  position: relative;
  top: 50%;
  width: 53.19149%;
  background: #fff;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2.12766%;
  padding-right: 2.12766%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}
/* line 53, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content #first {
  background: #2196F3;
}
/* line 56, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content #second {
  background: url(../pages/parallax/images/bg1.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
}
/* line 60, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content #fourth {
  background: url(../pages/parallax/images/bg2.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
}
/* line 64, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content #third {
  background: url(../pages/parallax/images/bg3.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
}
/* line 68, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content #theend {
  background: url(../pages/parallax/images/bg4.jpg) 50% bottom no-repeat fixed;
  background-size: cover;
}
/* line 72, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content .browsers li {
  width: 30.43478%;
  float: left;
  margin-right: 4.34783%;
}
/* line 75, ../../sass/articles/_parallax.sass */
body.parallax-page .article-content .browsers li:nth-child(3n) {
  float: right;
  margin-right: 0;
}

/* line 1, ../../sass/articles/_tooltip.sass */
.text-tooltip {
  color: #F44336;
  text-decoration: underline;
}
