.article-header
  h1
    margin-left: +span(1 wide)

.article-content
  +container
  background-color: #fff
  .demo
    +span(12)
    margin-bottom: 1em
  .description
    +span(8)
    margin-left: +span(2 wide)
    +font-size(14)
    font-style: italic
    color: $description-color
    text-align: center