.list
	+container
	padding: 0

	.item
		+span(4)
		margin-bottom: gutter()
		list-style: none

		&:nth-child(3n)
			+last

		a
			+transition(all 600ms ease)
			text-decoration: none

		a:hover
			.flipper
				+transform(rotateY(180deg))

		.content
			+perspective(1000px)
			margin-bottom: 1rem

		.flipper
			+transition(600ms)
			+transform-style(preserve-3d)

			position: relative
			width: 100%
			padding-top: 70%

		.front, .back
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			overflow: hidden
			+transition(all 600ms ease 0s)
			+transform-style(preserve-3d)
			+transform(rotateY(0deg))
			+backface-visibility(hidden)

			img
				position: absolute
				top: 50%
				left: 50%
				min-width: 100%
				min-height: 100%
				+translate(-50%, -50%)

		.front
			z-index: 2

		.back
			padding: 2rem
			+transform(rotateY(-180deg))
			background: $material-red
			color: #fff

		// individual colors for each element shown on hover
		a
			&:hover
				&.border-radius
					color: $material-indigo
				&.box-shadow
					color: $material-green
				&.parallax
					color: $material-blue
				&.tooltip
					color: $material-amber
			&.border-radius
				.back
					background: $material-indigo
			&.box-shadow
				.back
					background: $material-green
			&.parallax
				.back
					background: $material-blue
			&.tooltip
				.back
					background: $material-amber

		h2
			text-align: center