*
	+box-sizing(border-box)

html
	font-size: 62.5%

body
	background-color: $bg-color
	font-family: "Roboto", Arial, sans-serif
	+font-size($font-size-default)
	color: $text-color

a
	color: $link-color
	text-decoration: underline

header
	+container
	margin-top: 2em
	margin-bottom: 2em
	padding: 1em 0
	background-color: $bg-color
	.back-arrow
		+span(1)
		text-align: 0
		+font-size($font-size-heading-1)
		text-decoration: none
		color: $link-color
	h1
		+span(8)
		margin-left: +span(2 wide)
		margin-bottom: 0

// Prism.js code syntax
pre[class*="language-"]
	margin: 0
	margin-bottom: 2em