html, body,
.container,
.content-wrap
  overflow-y: auto

.menu-wrap
  width: 100%
  max-width: 400px
  overflow-y: auto
  background-color: #fff
  +box-shadow(-4px 0px 25px -1px #000)
  +font-size(16)
  +transform(translate3d(-420px,0,0))
  a
    display: block
    margin-bottom: 6px
    color: $link-color

.info-layer-open
  position: absolute
  top: 50%
  display: inline-flex
  padding: 8px
  padding-left: 20px
  border: 2px solid $link-color
  border-left: 0
  +border-top-right-radius(10px)
  +border-bottom-right-radius(10px)
  background-color: #fff
  +box-shadow(0px 0px 12px -3px #000)
  cursor: pointer
  transform: translateX(-12px)
  +transition-property(all)
  +transition-duration(250ms)
  +transition-timing-function(ease-in-out)
  svg
    fill: $link-color
  &:hover
    transform: translateX(0)
    background-color: $link-color
    svg
      fill: white


.browsers
  float: left
  width: 100%
  padding: 0
  margin: 0
  margin-bottom: 2em
  li
    width: 100%
    float: left
    margin-bottom: 16px
    list-style: none
  img
    float: left
    width: 40px
    height: 40px
    margin-right: 15px
  p
    margin-bottom: 0
    line-height: 40px
    font-size: 14px
    text-transform: uppercase