.border-radius-static-demo
  .box
    +span(3)
    padding-top: 23.4%
    background-color: $material-indigo
  .without-radius
    margin-left: +span(3 wide)
  .with-radius
    +border-radius(20px)

.border-radius-dynamic-demo
  .box
    +span(3)
    margin-left: +span(3 wide)
    padding-top: 23.4%
    background-color: $material-indigo
  .sliders
    +span(3)
    margin-left: +span(2 wide)
    .item
      +span(12)
      margin-bottom: 1.5em
    label
      +span(12)
      margin-bottom: 6px
      text-transform: uppercase
      +font-size(12)
    input
      +span(12)