.box-shadow-dynamic-demo
  .box
    +span(3)
    margin-left: +span(3 wide)
    padding-top: 23.4%
    background-color: $material-green
  .sliders
    +span(3)
    margin-left: +span(2 wide)
    .item
      +span(12)
      margin-bottom: 1.5em
    label
      +span(12)
      margin-bottom: 6px
      text-transform: uppercase
      +font-size(12)
    input
      +span(12)