body.parallax-page
	
	.info-layer-open
		z-index: 1
		background: #fff

	header
		position: fixed
		top: 0
		left: 0
		width: 100%
		max-width: none
		margin-top: 0
		padding-top: 3em
		background: #fff
		+box-shadow(0 2px 40px 6px rgba(0,0,0,0.8))
		z-index: 100

	.article-content
		max-width: none
		padding-top: 10rem

		article
			height: 100%
		
		.story
			height: 600px
			padding: 0
			margin: 0
			width: 100%
			max-width: 1920px
			position: relative
			margin: 0 auto
			border-bottom: 1px solid rgba(255,255,255,0.8)

			&.middle
				height: 300px
				background: $material-blue

			.text
				position: relative
				top: 50%
				width: span(6 wider)
				background: #fff
				margin: 0 auto
				padding-top: 2em
				padding-bottom: 2em
				padding-left: gutter()
				padding-right: gutter()
				+translateY(-50%)
				overflow: hidden 

		#first
			background: $material-blue 

		#second
			background: url(../pages/parallax/images/bg1.jpg) 50% 0 no-repeat fixed
			background-size: cover

		#fourth 
			background: url(../pages/parallax/images/bg2.jpg) 50% 0 no-repeat fixed
			background-size: cover

		#third 
			background: url(../pages/parallax/images/bg3.jpg) 50% 0 no-repeat fixed
			background-size: cover

		#theend 
			background: url(../pages/parallax/images/bg4.jpg) 50% bottom no-repeat fixed
			background-size: cover

		.browsers li 
			+span(2 of 6)

			&:nth-child(3n)
				+last()




