$font-size-default: 16

$font-size-heading-1: 46
$font-size-heading-2: 22
$font-size-heading-3: 18

h1
  margin-top: 0
  font-family: "Raleway", Arial, sans-serif
  +font-size($font-size-heading-1)
  text-align: center

h2
  margin-top: 0
  font-family: "Raleway", Arial, sans-serif
  +font-size($font-size-heading-2)
  text-align: center

h3
  margin-top: 0
  font-family: "Raleway", Arial, sans-serif
  +font-size($font-size-heading-3)

p
  margin-top: 0
  margin-bottom: 2em
  line-height: 24px